@media screen and (max-width: 600px){

    * {
        margin: 0;
    }

    main {
        width: 100%;
    }

    section.left-to-right > article > header > h1{
        margin: 0
    }

    section.left-to-right > article > header > p{
        padding-bottom: 1em;
    }

    main .left-to-right article{
        border-radius: 100px;
        width: 80%;
        padding: 45px 51px 45px 50px;
        justify-content: space-between;
    }

    section.left-to-right > article > p{
        font-size: 1.2em;
    }


    body > main > section{
        display: flex;
        flex-direction: column;
    }

    body > main > section > article > header > h1{
        font-size: 2.5em;
        margin: 0;
    }

    body > main > section > article > header > p{
        padding: 1em 0;
    }

    body > main> section > article > button{
        display: none;
    }

    body > main > section{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    body > main > section > article{
        margin: 0;
    }

    body > main > section > article > form{
        width: 100%;
    }

    body > main > section > article > form > label{
        text-align: center;
    }

    #name,
    #email,
    #message{
        width: 70%;
    }
}