@media screen and (max-width: 600px){

    #main-menu{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #main-menu > ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #main-menu > ul  > li {
        text-align: center;
        width: 100%;
        margin: 0.5em;;
        border: 1px solid #e62336
    }

    main {
        display: flex;
        flex-direction: column;
    }

    #left-aside {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 1em 0;
    }

    #left-aside article {
        border: none;
    }

    #news {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    

    #news article {
        width: 90%;
        margin: 0 auto;
    } 

    #right-aside {
        margin-left: 0.2em;
        margin-right: 0.5em;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #right-aside > div {
        max-width: 85%;
    }

    footer {

        display: flex;
        flex-direction: column;
    }

    footer > ul {
        width: 50%;
    }
}