@media screen and (max-width: 600px) {
    body > section > article > article {
        display: none;
    }

    #about > article.w3-col.m6.w3-padding-large.w3-hide-small{
        display: none;
    }

    #about > article:nth-child(2){
        width: 100%;
    }

    #menu > article:nth-child(2){
        width: 100%;
    }

    #menu > article:nth-child(1){
        width: 100%;
    }

    #contact > p.w3-text-blue-grey.w3-large > b{
        font-size: 1.2em;
    }
}