body {
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 375px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 10px;
    margin: 1rem;
}

.shrink {
    width: 10%;
    object-fit: cover;
}