@media screen and (max-width: 600px) {
    header .avatar img {
        width: 14em;
    }

    body > div > header > h1{
        font-size: 2.4em;
    }

    body > div > header > ul > li > a {
        font-size: 1.5em;
    }

    .thumbnails {
        flex-direction: column;
    }

    body > div > main > section > div:nth-child(1), 
    body > div > main > section > div:nth-child(2),
    body > div > main > section > div:nth-child(3){
        width: 100%;
    }

    .thumbnails a img {
        height: 300px;
    }

    body > div > main > footer > p{
        font-size: 1.5em;
    }
}